.anim-zoom,
.anim-zoom-min {
  transition: transform 0.5s;
}
.anim-zoom:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.anim-zoom-min:hover {
  transform: scale(1.02);
}
#index,
#panier {
  cursor: pointer;
}

@media (max-width: 612px) {
  .anim-zoom:hover {
    transform: scale(1.015);
  }
}
